# Basic Needs
Django
django-filer
django-modeltranslation
django-sekizai
django-tables2
django-suit
MySQL-python
docutils

# Development Tools
django-debug-toolbar
django-extensions
pyinotify
Werkzeug
