{% extends "base.html" %}

{% block base_content %}
<h1>Erste Überschrift &lt;h1&gt;</h1>
<h2>Zweite Überschrift &lt;h2&gt;</h2>
<h3>Dritte Überschrift &lt;h3&gt;</h3>
<h4>Vierte Überschrift &lt;h4&gt;</h4>
<h5>Fünfte Überschrift &lt;h5&gt;</h5>
<h6>Sechste Überschrift &lt;h6&gt;</h6>

<h3>Listen</h3>
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Eins</li>
            <li>Zwei</li>
            <li>Drei</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ol>
            <li>Eins</li>
            <li>Zwei</li>
            <li>Drei</li>
        </ol>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Eins</dt><dd>Zum ersten...</dd>
            <dt>Zwei</dt><dd>Zum zweiten...</dd>
            <dt>Drei</dt><dd>Zum dritten...</dd>
        </dl>
    </div>
</div>
{% endblock %}
